<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Novo Usuário</title>
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body>
<div class="shell">
    <div class="app-card">
        <h1>Novo Usuário</h1>
        <p>Crie um novo rausuário .</p>

        <div th:if="${errorMessage}" class="message error" th:text="${errorMessage}"></div>

        <form th:action="@{/admin/usuarios/novo}" th:object="${userForm}" method="post">
            <div class="field-grid">
                <div class="field">
                    <label>Usuário</label>
                    <input type="text" th:field="*{username}" placeholder="seu-usuario" required />
                </div>

                <div class="field">
                    <label>Senha</label>
                    <input type="password" th:field="*{password}" placeholder="••••••••" required />
                </div>
            </div>

            <div class="field">
                <label>
                    <input type="checkbox" th:field="*{admin}" />
                    IsAdmin
                </label>
            </div>

            <div class="actions">
                <button class="btn" type="submit">Criar</button>
                <a class="btn btn-secondary" th:href="@{/admin/usuarios}">
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>

